### Let us now "shrink" our data. In order to handle computations in my personal computer, I'll take a subset of users and movies, given by 
- the users who've rated the most movies
- the movies who've been rated by the most users

# Atention! Please, see the "preprocessing-1.ipynb" file before continuing!

In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
# from "dataset-exploration.ipynb" file, we know that
N = 138493 # is the total possible number of users
M = 131262 # is the total possible number of movies

user_ids_count = 138493 # is the number of distinct user ids that occur in the dataset
movie_ids_count = 26744 # is the number of distinct movie ids that occur in the dataset
# this reading takes about 15s
df = pd.read_csv('../dataset/MovieLens20M/edited_rating.csv')

In [3]:
print("original dataframe size", len(df))
df.head()

original dataframe size 20000263

   userId  movieId  rating  movie_idx
0       0        2     3.5          0
1       0       29     3.5          1
2       0       32     3.5          2
3       0       47     3.5          3
4       0       50     3.5          4

In [4]:
# the numbers of users and movies we'd like to keep (needs experimentation and testing! in the future, we'd like to compare performances of the full dataset vs this implementation...)
n = 10000
m = 2000

# we now select the most commmon n users and m movies
user_ids = df.userId.value_counts()[:n].index.tolist()
movie_ids = df.movie_idx.value_counts()[:m].index.tolist()
# print("user_ids",user_ids)
# print("movie_ids",movie_ids)

In [5]:
# we make a small copy and take only the data in both user_ids and movie_ids
df_small = df[df.userId.isin(user_ids) & df.movie_idx.isin(movie_ids)].copy()
df_small.head()

     userId  movieId  rating  movie_idx
960      10        1     4.5        227
961      10       10     2.5        365
962      10       19     3.5        366
963      10       32     5.0          2
964      10       39     4.5        631

In [6]:
# now, we must remake user and movie ids since their "sequentiality" is lost
new_user_id_map = {}
i = 0
for old_user_id in user_ids:
  new_user_id_map[old_user_id] = i
  i += 1
print("final i =",i)

new_movie_id_map = {}
j = 0
for old_movie_id in movie_ids:
  new_movie_id_map[old_movie_id] = j
  j += 1
print("final j =",j)

final i = 10000
final j = 2000

In [7]:
# let us now use the sequential ids above as our "true" new ids in df_small
df_small["userId"] = df_small.userId.map(new_user_id_map)
df_small["movie_idx"] = df_small.movie_idx.map(new_movie_id_map)
df_small.head()

     userId  movieId  rating  movie_idx
960    7325        1     4.5         10
961    7325       10     2.5         68
962    7325       19     3.5        143
963    7325       32     5.0         19
964    7325       39     4.5         85

In [8]:
df_small.to_csv('../dataset/MovieLens20M/edited_rating_small_dataset.csv', index=False)