In [1]:
# Please, see the "dataset-exploration.ipynb" file before continuing!
import pandas as pd

In [2]:
df = pd.read_csv('../dataset/MovieLens20M/rating.csv')
df.head()

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40

In [3]:
# 'timestamp' column is of no need to us, so we drop it
df = df.drop(columns=['timestamp'])
df.head()

   userId  movieId  rating
0       1        2     3.5
1       1       29     3.5
2       1       32     3.5
3       1       47     3.5
4       1       50     3.5

In [4]:
# let us make the user ids go from 0 to max value - 1
df.userId = df.userId - 1
df.head()

   userId  movieId  rating
0       0        2     3.5
1       0       29     3.5
2       0       32     3.5
3       0       47     3.5
4       0       50     3.5

In [5]:
# for movie ids, a dictionary suits better
unique_movie_ids = df.movieId.unique()
new_movie_id_dict = {}
count = 0
for movie_id in unique_movie_ids:
  new_movie_id_dict[movie_id] = count
  count += 1

In [6]:

# this dictionary will be a new column in our dataframe, named "movie_idx"

# this way takes a while... (about 7min)
# df["movie_idx"] = df.apply(lambda row: new_movie_id_dict[row.movieId], axis=1)

# this is faster (about 1.5s)
df["movie_idx"] = df.movieId.map(new_movie_id_dict)

In [7]:
# we see how it went
df.head()

   userId  movieId  rating  movie_idx
0       0        2     3.5          0
1       0       29     3.5          1
2       0       32     3.5          2
3       0       47     3.5          3
4       0       50     3.5          4

In [8]:
# we now save the dataframe as "edited_rating.csv" (this takes a while... about 1min)
df.to_csv('../dataset/MovieLens20M/edited_rating.csv', index=False)